---
layout: alt
title: Analyses
permalink: /analyses/
---
<html>
<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table-bordered display" cellspacing="0" width="100%" id="paper_table">
                <thead>
                    <tr>
                        <th>
                            Authors
                        </th>
                        <th>
                            Title
                        </th>
                        <th style="max-width: 80px;">
                            Journal
                        </th>
                        <th style="max-width: 80px;">
                            Date
                        </th>
                        <th>
                            Transcriptome
                        </th>
                        <td>

                        </td>
                    </tr>
                </thead>
                <tfoot style="display: table-row-group;">
                    <tr>
                        <th>
                            Author
                        </th>
                        <th>
                            Title
                        </th>
                        <th style="max-width: 80px;">
                            Journal
                        </th>
                        <th style="max-width: 80px;">
                            Date
                        </th>
                        <th>
                            Transcriptome
                        </th>
                        <td>

                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dictionary in site.data.doi_metadata %}
                    <tr>
                        <td>
                            {% for author in dictionary.authors %}
                            {{ author }}{% unless forloop.last == true %},{% endunless %}
                            <br />
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{dictionary.URL}}" target="_blank">
                                {{ dictionary.title }}
                            </a>
                        </td>
                        <td style="max-width: 80px;">
                            {{ dictionary.journal }}
                        </td>
                        <td style="max-width: 80px;">
                            {{ dictionary.date }}
                        </td>
                        <td>
                                {% if dictionary.species %}
                                    {% if dictionary.fasta-link %}
                                    <a target="_blank" href="http://www.ensembl.org/{{ dictionary.species }}/Info/Index">{{ dictionary.species }}</a>
                                    {% endif %}
                                {% endif %}
                        </td>
                        <td>
                            {% if dictionary.analysis %}
                            <form method="" action="{{dictionary.analysis}}" target="_blank">
                            <button type="button input" class="btn btn-primary">Analysis</button>
                            </form>
                            {% else %}
                            <form method="" action="">
                            <button type="button" class="btn btn-primary disabled">Analysis in progress</button>
                            </form>
                            {% endif %}
     						{% if dictionary.dropped %}
                            <form method="" action="{{dictionary.dropped}}" target="_blank">
                            <button type="button input" class="btn btn-primary">Dropped</button>
                            </form>
							{% endif %}
						</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <link href="{{ site.baseurl }}/_datatables/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="{{ site.baseurl }}/_datatables/jquery-1.12.0.min.js"></script>
    <script src="{{ site.baseurl }}/_datatables/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#paper_table tfoot th').each( function () {
            var title = $(this).text().replace(/ /g,'');
            if (title.includes("Journal")) {
                $(this).html( '<input type="text" style="max-width: 80px;" text-align="center" placeholder="Search"/>' );
            }
            else if (title.includes("Date")) {
                $(this).html( '<input type="text" style="max-width: 80px;" text-align="center" placeholder="Search"/>' );
            }
            else {
                $(this).html( '<input type="text" text-align="center" placeholder="Search '+ title +'s"/>' );
            }
        } );

        // DataTable
        var table = $('#paper_table').DataTable({
            "sDom": 'rt',
             paging: false
        });

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                    .search( this.value )
                    .draw();
                }
            });
        });
    });
    </script>
</body>
</html>
