---
layout: alt
title: Papers
permalink: /papers/
---
<html>
<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table-bordered display" cellspacing="0" width="100%" id="paper_table">
                <thead>
                    <tr>
                        <th>
                                Title
                        </th>
                        <th>
                                Authors
                        </th>
                        <th>
                                Publisher
                        </th>
                        <th>
                                Design Matrix
                        </th>
                        <th>
                                DOI
                        </th>
                    </tr>
                </thead>
                <tfoot style="display: table-row-group;">
                    <tr>
                        <th>
                                Title
                        </th>
                        <th>
                                Author
                        </th>
                        <th>
                                Publisher
                        </th>
                        <td>

                        </td>
                        <th>
                                DOI
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dictionary in site.data.doi_metadata %}
                    <tr>
                        <td>
                            {{ dictionary.title }}
                        </td>
                        <td>
                            {% for author in dictionary.authors %}
                            {{ author }}{% unless forloop.last == true %},{% endunless %}
                            <br />
                            {% endfor %}
                        </td>
                        <td>
                            {{ dictionary.publisher }}
                        </td>
                        <td>
                            <a href="/_data/{{dictionary.design_file}}">
                                SraRunTable.txt
                            </a>
                        </td>
                        <td>
                            <a href="{{dictionary.URL}}">
                                {{ dictionary.DOI }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <link href="/_datatables/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="/_datatables/jquery-1.12.0.min.js"></script>
    <script src="/_datatables/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#paper_table tfoot th').each( function () {
            var title = $(this).text().replace(/ /g,'');

            $(this).html( '<input type="text" text-align="center" placeholder="Search '+ title +'s"/>' );
        } );

        // DataTable
        var table = $('#paper_table').DataTable({
            "sDom": 'rt'
        });

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                    .search( this.value )
                    .draw();
                }
            });
        });
    });
    </script>
</body>
</html>
