---
layout: alt
title: Papers
permalink: /papers/
---
<html>
<body>
    <div class="container">
        <div class="table-responsive" id="papers">
            <table class="table table-striped paper-table" id="paper_table">
                <thead>
                    <tr class ="row">
                        <th>
                                Title
                        </th>
                        <th class="col-md-2">
                                Authors
                        </th>
                        <th class="col-md-1">
                                Publisher
                        </th>
                        <th class="col-md-1">
                                Design Matrix
                        </th>
                        <th class="col-md-2">
                                DOI
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class ="row">
                        <th>
                                Title
                        </th>
                        <th class="col-md-2">
                                Authors
                        </th>
                        <th class="col-md-1">
                                Publisher
                        </th>
                        <th class="col-md-1">
                                Design Matrix
                        </th>
                        <th class="col-md-2">
                                DOI
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dictionary in site.data.doi_metadata %}
                    <tr class="row">
                        <td class="col-md-6 title">
                            {{ dictionary.title }}
                        </td>
                        <td class="col-md-2 authors">
                            {% for author in dictionary.authors %}
                            {{ author }}{% unless forloop.last == true %},{% endunless %}
                            <br />
                            {% endfor %}
                        </td>
                        <td class="col-md-1 publisher">
                            {{ dictionary.publisher }}
                        </td>
                        <td class="col-md-1">
                            <a href="/_data/{{dictionary.directory}}/{{dictionary.design_file}}">
                                SraRunTable.txt
                            </a>
                        </td>
                        <td class="col-md-2 DOI">
                            <a href="{{dictionary.URL}}">
                                {{ dictionary.DOI }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="/_data/jquery-1.12.0.min.js"></script>
    <script src="/_data/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#paper_table tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#paper_table').DataTable({
            "sDom": 'rt'
        });

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                    .search( this.value )
                    .draw();
                }
            });
        });
    });
    </script>
</body>
</html>
