---
layout: alt
title: Publications
permalink: /publications/
---
<html>
<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table-bordered display" cellspacing="0" width="100%" id="paper_table">
                <thead>
                    <tr>
                        <th>
                            Authors
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Journal
                        </th>
                        <th>
                            Date
                        </th>
                        <td>

                        </td>
                    </tr>
                </thead>
                <tfoot style="display: table-row-group;">
                    <tr>
                        <th>
                            Author
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Journal
                        </th>
                        <th>
                            Date
                        </th>
                        <td>

                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dictionary in site.data.doi_metadata %}
                    <tr>
                        <td>
                            {% for author in dictionary.authors %}
                            {{ author }}{% unless forloop.last == true %},{% endunless %}
                            <br />
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{dictionary.URL}}" target="_blank">
                                {{ dictionary.title }}
                            </a>
                        </td>
                        <td>
                            {{ dictionary.journal }}
                        </td>
                        <td>
                            {{ dictionary.date }}
                        </td>
                        <td>
                                {% if dictionary.analysis %}
                                <form method="" action="{{dictionary.analysis}}" target="_blank">
                                <button type="button input" class="btn btn-primary">Analysis</button>
                                </form>
                                {% else %}
                                <form method="" action="">
                                <button type="button" class="btn btn-primary disabled">Analysis in progress</button>
                                </form>
                                {% endif %}
                                {% if dictionary.species %}
                                    {% if dictionary.fasta-link %}
                                    <form method="" action="{{dictionary.fasta-link}}" target="_blank" style="margin-top:5px;">
                                        <button type="button input" class="btn btn-primary">{{ dictionary.species }}</button>
                                    </form>
                                    {% endif %}
                                {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <link href="{{ site.baseurl }}/_datatables/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="{{ site.baseurl }}/_datatables/jquery-1.12.0.min.js"></script>
    <script src="{{ site.baseurl }}/_datatables/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#paper_table tfoot th').each( function () {
            var title = $(this).text().replace(/ /g,'');
            $(this).html( '<input type="text" text-align="center" placeholder="Search '+ title +'s"/>' );
        } );

        // DataTable
        var table = $('#paper_table').DataTable({
            "sDom": 'rt'
        });

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                    .search( this.value )
                    .draw();
                }
            });
        });
    });
    </script>
</body>
</html>
